.vibhaag {
    border: 1px solid transparent;
    background-color: #000000;
    margin-inline: 10px;
}

.note,
.rest {
    background-color: #000000;
    color: white;
    white-space: pre;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-family: monospace;
    cursor: pointer;
    margin: 1px;
}

.rest {
    background-color: rgb(20, 20, 20);
}

.matra {
    font-weight: bolder;
    background-color: aliceblue;
    color: black;
}

.row-separator {
    height: 10px;
}

.control-panel {
    display: flex;
    flex-direction: column;
    font-family: monospace;
    border: 2px solid black;
    padding: 1em;
    text-align: center;
}
.control-panel > div > * {
    margin: 0.5em;
}